@charset "UTF-8";
body {
	background: #060E2C;
}
h1 {
	color: white;
	font-family: tahoma;
	font-size: 30px;
}
h2 {
	color: white;
	font-family: tahoma;
	padding-top: 260px;
}
*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	body
	{
background-color:#060E2C ;
min-height: 100vh;
display: flex;align-items: center;
justify-content: center;
    align-content:center
	}
	.main{
            position: relative;
            width: 100%;
            min-height: 100vh;
            overflow: hidden;
        }

        .bubbles{
            position: relative;
            display: flex;
flex-wrap:wrap}
        .bubbles span:nth-child(odd){
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #ddd;
            margin: 5px;
            animation: fly 10s linear infinite;
            animation-duration: calc(130s / var(--i));
            box-shadow:0px 0px 0px 2px #fff,0 0 70px #fff,0px 0px 100px #fff
  

    }

    .bubbles span:nth-child(even){
        position: relative;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0px;
            animation: fly 10s linear infinite;
            animation-duration: calc(130s / var(--i));
        background-color:#ddd;
      box-shadow:0px 0px 0px 2px #fff,0 0 20px #fff,0px 0px 40px #fff

        }
        @keyframes fly {
            0%{transform: translateY(100vh) scale(0%);}
            100%{transform: translateY(-10vh) scale(110%);}
        
            
        }


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
top:0px;
position:absolute;
width:50%;
margin:auto;
max-width:80%;
min-height:70vw;
  display: flex;align-items: center;
justify-content: center;
    align-content:center;
  height:100%;

 

background:rgba(200,200,200,0.1);
box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
width:100%;
height:100%;
position:absolute;
padding:9vw 7vw 5vw 7vw;
background:#00203f44;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
top:0;
left:0;
right:0;
bottom:0;
position:absolute;
transform:rotateY(180deg);
backface-visibility:hidden;
transition:all .4s linear;
font-size: 30px;
font-family: tahoma;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
text-transform:uppercase;
}
.login-html .tab{
font-size:4vw;
margin-right:3vw;
padding-bottom:1vw;
margin:0 3vw 2vw 0;
display:inline-block;
border-bottom:2px solid transparent;
font-family: tahoma;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
color:#fff;
border-color:#cfaa01;

}
.login-form{
min-height:345px;
position:relative;
perspective:1000px;
transform-style:preserve-3d;
}
.login-form .group{
margin-bottom:2.4vw;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
width:100%;
color:#fff;
display:block;
font-family: tahoma;
}
.login-form .group .input,
.login-form .group .button{
border:none;
padding:15px 20px;
border-radius:25px;
background:rgba(255,255,255,.1);
font-family: tahoma;
}
.login-form .group input[data-type="password"]{

-webkit-text-security:circle;
}
.login-form .group .label{
color:#aaa;
font-size:12px;
font-family: tahoma;
}
/* .login-form .group .button{
background:#cfaa01;
  color:#00203fff;
}  */
.login-form .group label .icon{
width:15px;
height:15px;
border-radius:2px;
position:relative;
display:inline-block;
background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
content:'';
width:10px;
height:2px;
background:#fff;
position:absolute;
transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
left:3px;
width:5px;
bottom:6px;
transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
top:6px;
right:0;
transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
color:#fff;
}
.login-form .group .check:checked + label .icon{
background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
transform:rotate(0);
}

.login-form .group .button {
  color: #f5fcff;
  border: 3px solid #efae47;
  border-radius:10px;
  padding: 15px 25px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 10px #efae47) drop-shadow(0 0 30px #efae47) contrast(2) brightness(2);
  transition: .5s;
}

.button:hover {
  color: black;
  background-color: #efae47;
  filter: drop-shadow(0 0 20px #efae47) contrast(2) brightness(2);
}

.hr{
height:2px;
margin:60px 0 50px 0;
background:rgba(255,255,255,.2);
}  
.foot-lnk{
text-align:center;
}