@charset "UTF-8";
h1 {
	color: white;
	font-family: tahoma;
	font-size: 60px;
}
h2 {
	color: white;
	font-family: tahoma;
	font-size: 45px;
}
h3 {
	color: white;
	font-family: tahoma;
	font-size: 30px;
}

.main {
	color:#cfaa01;
	text-align: center;
	font-family: tahoma;
	font-size: 30px;
}
.main .td {
	color:#cfaa01;
	text-align: center;
	font-family: tahoma;
	font-size: 20px;
}
.main .table {
	margin-left: auto;
	margin-right: auto;
}

*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	body
	{
background-color:#060E2C ;
min-height: 100vh;
display: flex;align-items: center;
justify-content: center;
    align-content:center
	}
	.main{
            position: relative;
            width: 100%;
            min-height: 100vh;
            overflow: hidden;
        }

        .bubbles{
            position: relative;
            display: flex;
flex-wrap:wrap}
        .bubbles span:nth-child(odd){
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #ddd;
            margin: 5px;
            animation: fly 10s linear infinite;
            animation-duration: calc(130s / var(--i));
            box-shadow:0px 0px 0px 2px #fff,0 0 70px #fff,0px 0px 100px #fff
  

    }

    .bubbles span:nth-child(even){
        position: relative;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0px;
            animation: fly 10s linear infinite;
            animation-duration: calc(130s / var(--i));
        background-color:#ddd;
      box-shadow:0px 0px 0px 2px #fff,0 0 20px #fff,0px 0px 40px #fff

        }
         @keyframes fly {
            0%{transform: translateY(100vh) scale(0%);}
            100%{transform: translateY(-10vh) scale(110%);}
        
            
        }


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}