<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href = "menuStyle.css">
<title>Insert title here</title>
</head>
<body>

<div class="main">
<h1 style="text-align: center;">Magic Metro Sub Menu</h1>
<h2 style="text-align: center;">You Are Currently Swiped In</h2>

		<div class="bubbles">
      
      
      
      
            <span style="--i:11"></span>
            <span style="--i:19"></span>
            <span style="--i:25"></span>
            <span style="--i:15"></span>
            <span style="--i:10"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:7"></span>
            <span style="--i:15"></span>
            <span style="--i:23"></span>
            <span style="--i:11"></span>
            <span style="--i:16"></span>
            <span style="--i:13"></span>
            <span style="--i:22"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:17"></span>
            <span style="--i:19"></span>
            <span style="--i:7"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:29"></span>
            <span style="--i:11"></span>
            <span style="--i:28"></span>
            <span style="--i:14"></span>
            <span style="--i:19"></span>
            <span style="--i:15"></span>
            <span style="--i:11"></span>
            <span style="--i:21"></span>
            <span style="--i:27"></span>
            <span style="--i:13"></span>
            <span style="--i:18"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:27"></span>
        <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:20"></span>  <span style="--i:11"></span>  <span style="--i:7"></span>  <span style="--i:15"></span>  <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
          
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>    
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>    
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
		</div>

<h3 th:text="'Welcome '+${session.user.fullName}+'!'"></h3>

<a href="./swipeOut">Swipe Out</a><br><br>
<h3 th:text="${message}"></h3>

</div>
</body>
</html>