<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="summary.css" />
        <title>Trip Summary</title>
    </head>
    <body>
        <div class="main">
            <h1>Magic Metro System</h1>
            <hr />
            <h2>User Journey Receipt</h2>
            <div class="bubbles">
                <span style="--i: 11;"></span> <span style="--i: 19;"></span> <span style="--i: 25;"></span> <span style="--i: 15;"></span> <span style="--i: 10;"></span> <span style="--i: 25;"></span> <span style="--i: 18;"></span>
                <span style="--i: 7;"></span> <span style="--i: 15;"></span> <span style="--i: 23;"></span> <span style="--i: 11;"></span> <span style="--i: 16;"></span> <span style="--i: 13;"></span> <span style="--i: 22;"></span>
                <span style="--i: 18;"></span> <span style="--i: 17;"></span> <span style="--i: 19;"></span> <span style="--i: 7;"></span> <span style="--i: 22;"></span> <span style="--i: 25;"></span> <span style="--i: 29;"></span>
                <span style="--i: 11;"></span> <span style="--i: 28;"></span> <span style="--i: 14;"></span> <span style="--i: 19;"></span> <span style="--i: 15;"></span> <span style="--i: 11;"></span> <span style="--i: 21;"></span>
                <span style="--i: 27;"></span> <span style="--i: 13;"></span> <span style="--i: 18;"></span> <span style="--i: 15;"></span> <span style="--i: 13;"></span> <span style="--i: 18;"></span> <span style="--i: 21;"></span>
                <span style="--i: 27;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 20;"></span> <span style="--i: 11;"></span> <span style="--i: 7;"></span> <span style="--i: 15;"></span>
                <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span>
                <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 7;"></span>
                <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span>
                <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span>
                <span style="--i: 12;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span>
                <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span>
                <span style="--i: 27;"></span> <span style="--i: 7;"></span> <span style="--i: 27;"></span> <span style="--i: 17;"></span> <span style="--i: 12;"></span> <span style="--i: 7;"></span>
            </div>
            <div class="main-content">
                <div class="ticket">
                    <div class="ticket__main">
                        <div class="header">Magic Metro</div>
                        <div class="info passenger">
                            <div class="info__item">Passenger</div>
                            <div class="info__detail" th:text="${user.fullName}"></div>
                        </div>
                        <div class="info platform">
                            <span>Price</span>
                            <div class="number">
                                <div th:text="${price}"></div>
                            </div>
                        </div>
                        <div class="info departure">
                            <div class="info__item">Depart</div>
                            <div class="info__detail" th:text="${startStation.stationName}"></div>
                        </div>
                        <div class="info arrival">
                            <div class="info__item">Arrive</div>
                            <div class="info__detail" th:text="${endStation.stationName}"></div>
                        </div>
                        <div class="info date">
                            <div class="info__item">Swipe In Time</div>
                            <div class="info__detail" th:text="${transaction.swipeInTime}"></div>
                        </div>
                        <div class="info time">
                            <div class="info__item">Swipe Out Time</div>
                            <div class="info__detail" th:text="${transaction.swipeOutTime}"></div>
                        </div>
                        <div class="fineprint">
                            <p>Boarding begins 30 minutes before departure. Snacks available for purchase from The Honeydukes Express.</p>
                            <p>This ticket is Non-refundable • Magic Metro Authority</p>
                        </div>
                        <div class="snack">
                            <svg viewBox="0 -11 414.00053 414">
                                <path
                                    d="m202.480469 352.128906c0-21.796875-17.671875-39.46875-39.46875-39.46875-21.800781 0-39.472657 17.667969-39.472657 39.46875 0 21.800782 17.671876 39.472656 39.472657 39.472656 21.785156-.023437 39.445312-17.683593 39.46875-39.472656zm0 0"
                                ></path>
                                <path
                                    d="m348.445312 348.242188c2.148438 21.691406-13.695312 41.019531-35.390624 43.167968-21.691407 2.148438-41.015626-13.699218-43.164063-35.390625-2.148437-21.691406 13.695313-41.019531 35.386719-43.167969 21.691406-2.148437 41.019531 13.699219 43.167968 35.390626zm0 0"
                                ></path>
                                <path
                                    d="m412.699219 63.554688c-1.3125-1.84375-3.433594-2.941407-5.699219-2.941407h-311.386719l-3.914062-24.742187c-3.191407-20.703125-21.050781-35.9531252-42-35.871094h-42.699219c-3.867188 0-7 3.132812-7 7s3.132812 7 7 7h42.699219c14.050781-.054688 26.03125 10.175781 28.171875 24.0625l33.800781 213.515625c3.191406 20.703125 21.050781 35.957031 42 35.871094h208.929687c3.863282 0 7-3.132813 7-7 0-3.863281-3.136718-7-7-7h-208.929687c-14.050781.054687-26.03125-10.175781-28.171875-24.0625l-5.746094-36.300781h213.980469c18.117187-.007813 34.242187-11.484376 40.179687-28.597657l39.699219-114.578125c.742188-2.140625.402344-4.511718-.914062-6.355468zm0 0"
                                ></path>
                            </svg>
                        </div>
                        <div class="barcode">
                            <div class="barcode__scan"></div>
                            <div class="barcode__id">001256733</div>
                        </div>
                    </div>
                    <div class="ticket__side">
                        <div class="logo">
                            <p>Magic Metro</p>
                        </div>
                        <div class="info side-arrive">
                            <div class="info__item">Arrive</div>
                            <div class="info__detail" th:text="${endStation.stationName}"></div>
                        </div>
                        <div class="info side-depart">
                            <div class="info__item">Depart</div>
                            <div class="info__detail" th:text="${startStation.stationName}"></div>
                        </div>
                        <div class="info side-date">
                            <div class="info__item">Swipe In</div>
                            <div class="info__detail" th:text="${transaction.swipeInTime}"></div>
                        </div>
                        <div class="info side-time">
                            <div class="info__item">Swipe Out</div>
                            <div class="info__detail" th:text="${transaction.swipeOutTime}"></div>
                        </div>
                        <div class="barcode">
                            <div class="barcode__scan"></div>
                            <div class="barcode__id">001256733</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <h2 th:text="${message}"></h2>
        <a href="./menu">Go Back To Menu Page</a>
    </body>
</html>