<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "./swipeOutInput" method="post">
<h1> Magic Metro System</h1>
<h2>Time to Swipe Out</h2>
<label for="stationId">Choose the Train Station you are Swiping Out at:</label>

<select name="stationId" id="stationId">
    <option value="1">Platform 9 3/4</option>
    <option value="2">Narnia</option>
    <option value="3">Polar Express</option>
    <option value="4">Jurassic Park </option>
    <option value="5">Hogwarts </option>
</select>

<input type = "submit" value = "Get Off Train">
</form>

</body>
</html>