<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Magic Metro System</h1>
<h2>Time to Swipe In</h2>
<h3>Choose a Station to Swipe In to, each stop costs £1</h3>
<form action = "./chooseStartStation" method ="post">
<label for="stationId">Choose your current train station:</label>

<select name="stationId" id="stationId">
    <option value="1">Platform 9 3/4</option>
    <option value="2">Narnia</option>
    <option value="3">Polar Express</option>
    <option value="4">Jurassic Park </option>
    <option value="5">Hogwarts </option>
</select>

<input type = "submit" value = "Get On Train">
</form>

</body>
</html>