<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "swipeInStyle.css">
    <title>Title</title>
</head>
<body>
<div class="main">
<h1 style="text-align: center;">Magic Metro System</h1><br>
<h2 style="text-align: center;">Time to Swipe In</h2><br>
<h3 style="text-align: center;">Each train stop costs £1</h3>

		<div class="bubbles">
      
      
      
      
            <span style="--i:11"></span>
            <span style="--i:19"></span>
            <span style="--i:25"></span>
            <span style="--i:15"></span>
            <span style="--i:10"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:7"></span>
            <span style="--i:15"></span>
            <span style="--i:23"></span>
            <span style="--i:11"></span>
            <span style="--i:16"></span>
            <span style="--i:13"></span>
            <span style="--i:22"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:17"></span>
            <span style="--i:19"></span>
            <span style="--i:7"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:29"></span>
            <span style="--i:11"></span>
            <span style="--i:28"></span>
            <span style="--i:14"></span>
            <span style="--i:19"></span>
            <span style="--i:15"></span>
            <span style="--i:11"></span>
            <span style="--i:21"></span>
            <span style="--i:27"></span>
            <span style="--i:13"></span>
            <span style="--i:18"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:27"></span>
        <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:20"></span>  <span style="--i:11"></span>  <span style="--i:7"></span>  <span style="--i:15"></span>  <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
          
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>    
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>    
       <span style="--i:27"></span>  <span style="--i:7"></span>  <span style="--i:27"></span>  <span style="--i:17"></span>  <span style="--i:12"></span>  <span style="--i:7"></span>
      
      
      
      
      
      
      
		</div>
	




<form action = "./chooseStartStation" method ="post">

<div class="group">
<label for="stationId" class="label">Choose your current train station:</label>
<select name="stationId" id="stationId" class="list">
    <option value="1">Platform 9 3/4</option>
    <option value="2">Narnia</option>
    <option value="3">Polar Express</option>
    <option value="4">Jurassic Park </option>
    <option value="5">Hogwarts </option>
</select>

<input type = "submit" value = "Get On Train" class="button"><br>
</div>
<img th:src="@{images/Header.png}" id="trainStations" width="100%" class= "fix">
</form>
</div>
</body>
</html>